// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


button {
  border: none;
  background-color: rgba(0,0,0, .2);
  color: white;
  margin: 2%;
  padding: 5px 10px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 150px;
  &:focus {
    outline: none;
  }
  &:hover {
    color: #E2A758;
  }
}

#pourButton {
  margin-top: 35px;
}

#deleteButton {

}

#refillButton {
  margin-left: 20px;
}

#editButton {

}
