.filterForm {
  display: flex;
  justify-content: center;
  select {
    height: 30px;
    background: rgba(255,255,255, .3);
    color: white;
    border-radius: 2px;
    border: none;
    margin-bottom: 4%;
    &:focus {
      outline: none;
    }
  }
}
.kegItem {
  color: white;
  display: flex;
  justify-content: space-between;
  border: 3px solid white;
  margin: 1%;
  padding: 2%;
  background: rgba(255,255,255, .3);
  &:hover {
    cursor: pointer;
  }
  .beerLeft {
    width: 80%;
    .beerContent {
      border: 1px solid cyan;
      display: flex;
      justify-content: space-between;
      .beerInfo {
        display: flex;
        border: 1px solid purple;
        width: 80%;
        .beerText {
          border: 1px solid red;
        }
      }
      .beerPrice {
        border: 3px solid red;
        @include textFormat(30px);
        margin-top: 20px;
      }
    }
    .beerButtons {
      border: 1px solid blue;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .pintsBar {
    width: 30%;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .kegFullness {
      width: 30px;
      height:124px;
      background-color: darkcyan;
      border-radius: 5px;
    }
  }
}

.selected .kegItem{
  transition: all 500ms ease-in;
  background-color: rgba(0,0,0, .2);
  color: white;
  letter-spacing: 5px;
}

.poured {
  height: 2px;
  background-color: white;
}

span.expensive {
  color: #E2A758;
  font-size: 35px;
}

span.cheap {
  color: black;
    font-size: 35px;
}

h2 {
  @include textFormat(50px, lighter);
}
.beerInfo.strong::before {
  content: url("../../resources/img/strong.png");
  padding-top: 40px;

}

.beerInfo.light::before {
  content: url("../../resources/img/light.png");
  padding-top: 40px;

}

.beerInfo.session::before {
  content: url("../../resources/img/session.png");
  padding-top: 40px;

}
