.add-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .filterForm {
    display: flex;
    justify-content: center;
    select.kegsfilter {
      height: 30px;
      background: rgba(255,255,255, .3);
      color: white;
      border-radius: none;
      border: none;
      margin-bottom: 4%;
      &:focus {
        outline: none;
      }
    }
  }
  .addForm {
    display: flex;
    .keg-form {
      align-items: center;
      justify-content: center;
      display: flex;
      input {
        height: 40px;
        background-color: rgba(255,255,255, .2);
        border: none;
        border-right: 1px solid white;
        padding: 8px;
      }
      #last {
        border-right: none !important;
      }
    }
  }
}


.kegItem {
  color: white;
  display: flex;
  justify-content: space-between;
  // border: 3px solid white;
  margin: 1%;
  padding: 2%;
  background: rgba(255,255,255, .3);
  &:hover {
    cursor: pointer;
  }
  .beerLeft {
    width: 80%;
    .beerContent {
      display: flex;
      justify-content: space-between;
      .beerInfo {
        display: flex;
        width: 100%;
        .beerText {
        }
      }
    }
    .beerButtons {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 85px;
    }
  }
  .pintsBar {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .kegFullness {
      width: 30px;
      height:124px;
      background-color: #E2A758;
      border-radius: 5px;
    }
  }
}

.selected .kegItem{
  transition: all 500ms ease-in;
  background-color: rgba(0,0,0, .2);
  color: white;
  letter-spacing: 5px;
}

.poured {
  height: 2px;
  background-color: white;
}

span.expensive {
  color: #E2A758;
  font-size: 35px;
}

span.cheap {
  color: black;
    font-size: 35px;
}

h2 {
  @include textFormat(50px, lighter);
}
.beerInfo.strong::before {
  content: url("../../resources/img/strong.png");
  padding-top: 40px;

}

.beerInfo.light::before {
  content: url("../../resources/img/light.png");
  padding-top: 40px;

}

.beerInfo.session::before {
  content: url("../../resources/img/session.png");
  padding-top: 40px;

}
