// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  height: 450px;
  background: url("../../resources/img/taps.jpg");
  background-size: cover;
}
