// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% auto 1% auto;
}
