// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------


@mixin textFormat ($size:null, $weight: null, $l-spacing: null, $color:null) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $l-spacing;
  color: $color;
}
