h1 {
  color: blue;
}

.kegItem {
  border: 1px solid darkcyan;
  margin: 1%;
  padding: 2%;
  background: transparent;
  &:hover {
    cursor: pointer;
  }
}

.selected .kegItem{
  background-color: rgba(0,0,0, .2);
  letter-spacing: 5px;
}

.kegFullness {
  border: 1px solid blue;
  width: 30px;
  height:124px;
  background-color: blue;
}
.poured {
  height: 2px;
  background-color: white;
}
