h1 {
  color: blue;
}

.kegItem {
  border: 1px solid darkcyan;
  margin: 1%;
  padding: 2%;
  background: transparent;
  &:hover {
    cursor: pointer;
  }
}

.selected {
  background-color: red;
  // letter-spacing: 5px;
}
